/* line 24, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
body {
  line-height: 24px;
  font-family: Roboto;
  font-size: 14px;
  background-image: url(https://middlegirlcdn.s3-us-west-2.amazonaws.com/uploads/image/file/737/2jEqzi01Ru2HBhGLTBgB_MG_5236.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #4d443b; }
  /* line 35, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body.navbar-shrink-margin {
    padding-top: 0px; }
  /* line 39, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body a.block {
    display: block; }
    /* line 41, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
    body a.block img {
      width: 100%; }
  /* line 44, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body p {
    line-height: 1.6em;
    font-size: 1em;
    margin: 0 0 15px; }
  /* line 50, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body h4 {
    margin: 10px 0 20px 0;
    font-weight: bold; }
  /* line 55, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body .col-right {
    float: right; }
  /* line 59, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body .list-row {
    margin-bottom: 30px; }
  /* line 63, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body ol, body ul {
    font-size: 1.1em;
    line-height: 1.8em; }
  /* line 69, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  body .img-col img {
    margin-bottom: 30px; }

/* line 75, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.monolog {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E0DACA;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto; }

/* line 88, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.owl-carousel-container {
  overflow: hidden;
  margin-bottom: 30px; }
  /* line 91, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  .owl-carousel-container .carousel-item img {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s; }

/* line 105, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section header h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 50px; }

/* line 114, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.page-section .contain {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  margin: 0 90px; }

/* line 121, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
footer#main-footer {
  background: #4d443b;
  color: #e9e9e9;
  padding: 10px 0; }
  /* line 125, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  footer#main-footer p {
    margin: 0; }

/* line 130, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
figure {
  position: relative;
  margin-bottom: 30px; }
  /* line 133, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  figure a {
    display: block; }
  /* line 136, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  figure img {
    vertical-align: middle; }

/* line 141, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
figcaption {
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 1.7em;
  line-height: 1.4em;
  color: white;
  text-align: center; }

@media only screen and (max-width: 768px) {
  /* line 152, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  .col-right {
    float: left; }

  /* line 153, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  figcaption {
    font-size: 1.1em;
    line-height: 1.3em; } }
/* line 159, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.no-padding {
  padding: 0; }

/* line 164, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl .header h2 {
  margin-bottom: 30px; }
/* line 167, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl .header p {
  margin-bottom: 40px;
  color: #4d443b; }
/* line 173, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl .card {
  margin-bottom: 20px; }
/* line 176, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl img {
  overflow: hidden; }
/* line 179, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl h3, section.about-cols-tmpl h4 {
  font-size: 1.1em;
  margin-bottom: 10px; }
/* line 183, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.about-cols-tmpl p {
  color: #777;
  font-size: 1em; }

/* line 204, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section#pricing-plans h2 {
  text-align: center;
  font-size: 1.6em; }
/* line 208, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section#pricing-plans .select-plan {
  text-align: center;
  margin-top: 30px; }

/* line 215, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section#welcome-info form.email-form {
  text-align: center; }
  /* line 217, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section#welcome-info form.email-form label, section#welcome-info form.email-form input {
    margin-right: 4px; }

/* line 224, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl ul.info-features i.fa {
  margin-right: 8px; }
/* line 226, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl a.pricing-btn {
  margin: 20px 0; }
/* line 229, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl h2 {
  font-size: 1.4em;
  margin-bottom: 30px; }
/* line 233, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl h1 {
  margin-bottom: 40px;
  line-height: 1.2em; }
/* line 237, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl i {
  margin-top: 3px;
  font-size: 1.6em; }
/* line 241, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl h3, section.info-cols-tmpl h4 {
  font-size: 1.3em; }
/* line 244, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl p {
  font-size: 1em; }
/* line 247, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl .info-col {
  margin-bottom: 15px; }
/* line 250, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.info-cols-tmpl .info-col-icon {
  text-align: right; }

/* line 255, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.events-tmpl {
  background-color: #4d443b;
  color: #e9e9e9;
  padding: 0; }
  /* line 259, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section.events-tmpl .col-content {
    padding: 40px; }
    /* line 261, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
    section.events-tmpl .col-content h2 {
      margin-top: 0;
      margin-bottom: 20px; }

/* line 269, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.two-cols-tmpl p {
  color: #777; }

/* line 274, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
section.highlights-tmpl {
  background-color: #D1462F;
  color: #e9e9e9; }
  /* line 278, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section.highlights-tmpl .highlights-content h2 {
    margin-top: 0px;
    margin-bottom: 20px; }
  /* line 284, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section.highlights-tmpl .highlights-icons > .row {
    margin-bottom: 20px; }
  /* line 289, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section.highlights-tmpl .highlights-text h2, section.highlights-tmpl .highlights-text h3, section.highlights-tmpl .highlights-text h4 {
    margin: 5px 0;
    font-size: 1.2em; }
  /* line 294, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  section.highlights-tmpl .highlights-icon {
    text-align: right; }
    /* line 296, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
    section.highlights-tmpl .highlights-icon i {
      font-size: 2em;
      margin-top: 5px; }

/* line 303, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.slick-prev:before {
  content: "\f053"; }

/* line 304, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
[dir="rtl"] .slick-prev:before {
  content: "\f054"; }

/* line 305, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
[dir="rtl"] .slick-next {
  left: -10px;
  top: 70px;
  right: auto; }

/* line 306, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.slick-next:before {
  content: "\f054"; }

/* line 307, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
[dir="rtl"] .slick-next:before {
  content: "\f053"; }

/* line 309, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.carousel-item {
  padding: 10px; }

/* line 314, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
nav#fullpage-nav.navbar-default {
  background-color: transparent;
  border: none; }
/* line 319, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
nav#fullpage-nav .navbar-default .navbar-nav li.active a:hover {
  background: none; }

/* line 325, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
.slide-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  /* line 333, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  .slide-container {
    width: 950px; } }
@media (min-width: 1200px) {
  /* line 339, /Users/he9lin/Projects/mobile-sites/bikeims/source/assets/stylesheets/_index_theme.scss.erb */
  .slide-container {
    width: 1100px; } }
